.team_metafield {
  padding: 6px;
}

.meta-box-sortables input {
  vertical-align: middle;
  width: 100%;
  padding: 10px;
  margin: 5px 0 0;
}

input[type="checkbox"],
input[type="radio"] {
  height: 1rem;
  margin: -0.25rem 0.25rem 0 0 !important;
  padding: 0 !important;
  width: 1rem !important;
}
.widefat {
  padding: 10px;
}
